<% content_for :secondary_nav do %>
  <div class="secondary-nav secondary-nav--subnav">
    <ul>
      <% if can? :edit, current_initiative %>
        <li <% if is_active_link?(decidim_admin_initiatives.edit_initiative_path(current_initiative)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t('.information'), decidim_admin_initiatives.edit_initiative_path(current_initiative) %>
        </li>
      <% end %>

      <% if can? :manage_membership, current_initiative %>
        <li <% if is_active_link?(decidim_admin_initiatives.initiative_committee_requests_path(current_initiative)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t('.committee_members'), decidim_admin_initiatives.initiative_committee_requests_path(current_initiative) %>
        </li>
      <% end %>

      <% if can? :read, Decidim::Feature %>
        <li <% if is_active_link?(decidim_admin_initiatives.features_path(current_initiative)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t('.features'), decidim_admin_initiatives.features_path(current_initiative) %>
          <ul>
            <% current_initiative.features.each do |feature| %>
              <% if feature.manifest.admin_engine %>
                <li <% if is_active_link?(manage_feature_path(feature)) %> class="is-active" <% end %>>
                  <%= link_to manage_feature_path(feature) do %>
                    <%= translated_attribute feature.name %>
                    <% if feature.primary_stat.present? %>
                      <span class="component-counter <%= 'component-counter--off' if feature.primary_stat.zero? %>">
                        <%= feature.primary_stat %>
                      </span>
                    <% end %>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </li>
      <% end %>

      <% if can? :read, Decidim::Attachment %>
        <li <% if is_active_link?(decidim_admin_initiatives.initiative_attachments_path(current_initiative)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t('.attachments'), decidim_admin_initiatives.initiative_attachments_path(current_initiative) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render 'layouts/decidim/admin/application' do %>
  <div class="process-title">
    <div class="process-title-content">
      <%= current_initiative.title.try(:[], I18n.locale.to_s) || current_initiative.title.values.compact.first %>
    </div>
  </div>
  <%= yield %>
<% end %>
