<div class="row column">
  <div class="column large-6 medium-centered">
    <div class="callout secondary">
      <%=t '.help' %>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="columns large-6 medium-centered">
    <div class="card">
      <div class="card__content">
        <%= decidim_form_for(@validate_form, url: next_wizard_path, method: :put, html: { class: 'form validate_initiative_form' }) do |f| %>
          <div class=section>
            <div class="field">
              <%= f.text_field :name, autofocus: true, required: true %>
            </div>

            <div class="field">
              <%= f.text_field :id_document, required: true %>
            </div>

            <div class="field">
              <%= f.text_field :address, required: true %>
            </div>

            <div class="field">
              <%= f.text_field :city, required: true %>
            </div>

            <div class="field">
              <%= f.text_field :province, required: true %>
            </div>

            <div class="field">
              <%= f.text_field :post_code, required: true %>
            </div>

            <div class="field">
              <%= f.text_field :phone_number %>
            </div>
            <p class="legal_text">
              <%= render partial: 'legal_text' %>
            </p>
          </div>
          <div class="actions">
            <%= f.submit t('.continue'), class: 'button expanded' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>