<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= t '.title' %></h2>
  </div>

  <div class="card-section">
    <div class="row column">
      <%= form.translated :text_field, :title, autofocus: true %>
    </div>

    <div class="row column">
      <%= form.translated :editor, :description, toolbar: :full, lines: 8 %>
    </div>

    <div class="row column">
      <%= form.select :type_id, initiative_type_options %>
    </div>

    <div class="row column">
      <%= form.select :signature_type, signature_type_options %>
    </div>

    <% if has_scopes? %>
      <div class="row column">
        <%= form.select :decidim_scope_id,
                     scopes.map { |s| [translated_attribute(s.name),s.id]},
                     prompt: t('decidim.scopes.global') %>
      </div>
    <% end %>
  </div>
</div>
