<div class="card" id="initiatives">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t "decidim.admin.titles.initiatives" %>
    </h2>
  </div>
  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t('models.initiatives.fields.title', scope: 'decidim.admin') %></th>
            <th><%= t('models.initiatives.fields.state', scope: 'decidim.admin') %></th>
            <th><%= t('models.initiatives.fields.created_at', scope: 'decidim.admin') %></th>
          </tr>
        </thead>
        <tbody>
          <% @initiatives.each do |initiative| %>
          <tr>
            <td>
              <% if can? :edit, initiative %>
                <%= link_to translated_attribute(initiative.title),
                            decidim_admin_initiatives.edit_initiative_path(initiative) %>
              <% else %>
                <%= translated_attribute(initiative.title) %>
              <% end %>
            </td>
            <td><%= humanize_state initiative.state %></td>
            <td><%=l initiative.created_at, format: :short %></td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
