<% add_decidim_meta_tags({
  image_url: current_initiative.type.banner_image.url,
  description: partially_translated_attribute(current_initiative.description),
  title: partially_translated_attribute(current_initiative.title),
  url: initiative_url(current_initiative.id),
  twitter_handler: current_organization.twitter_handler
}) %>

<% add_decidim_page_title(partially_translated_attribute(current_initiative.title)) %>
<% provide :meta_image_url, current_initiative.type.banner_image.url %>


<div class="row">
  <div class="columns section view-side mediumlarge-4 mediumlarge-push-8 large-3 large-push-9">
    <% if current_initiative.votes_enabled? || current_user %>
      <div class="card extra definition-data">
        <div class="definition-data__item vote-block">
          <% if current_initiative.votes_enabled? %>
            <%= render partial: 'votes_count', locals: { initiative: current_initiative } %>
            <%= render partial: 'vote_cabin', locals: { initiative: current_initiative } %>
          <% end %>

          <% if current_user %>
            <%= render partial: 'decidim/shared/follow_button', locals: { followable: current_initiative } %>
          <% end %>
        </div>
      </div>
    <% end %>

    <%= render partial: 'decidim/shared/share_modal' %>
    <%= embed_modal_for initiative_initiative_widget_url(current_initiative, format: :js) %>

    <%= render partial: 'statistics' %>
  </div>

  <div class="columns mediumlarge-8 mediumlarge-pull-4">
    <div class="section">
      <div class="lead">
        <%= partially_translated_attribute(current_initiative.title) %>
      </div>
      <div class="author-data">
        <%= render partial: 'author', locals: { initiative: current_initiative } %>
      </div>
    </div>

    <div class="section">
      <%= render partial: 'initiative_badge', locals: { initiative: current_initiative } %>
      <%= simple_format partially_translated_attribute(current_initiative.description) %>
      <%= render partial: 'tags', locals: { resource: current_initiative } %>
    </div>

    <%= attachments_for current_initiative %>

    <%= render partial: 'supports', locals: { initiative: current_initiative } %>

    <% if current_initiative.answered? && partially_translated_attribute(current_initiative.answer).present? %>
      <% if current_initiative.accepted? %>
        <div class="section">
          <div class="callout success">
            <h5><%= link_to t('.initiative_accepted'), current_initiative.answer_url || '#' %></h5>
            <p><%= partially_translated_attribute current_initiative.answer %></p>
          </div>
        </div>
      <% else %>
        <div class="section">
          <div class="callout warning">
            <h5><%= t('.initiative_rejected') %></h5>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= comments_for current_initiative if current_initiative.published? %>
<%= javascript_include_tag 'decidim/initiatives/social_share' %>
<%= stylesheet_link_tag 'decidim/initiatives/application' %>
<%= stylesheet_link_tag 'decidim/initiatives/social_share' %>
