<% add_decidim_page_title(partially_translated_attribute(current_initiative.title)) %>

<% add_decidim_meta_tags({
  description: partially_translated_attribute(current_initiative.description),
  title: partially_translated_attribute(current_initiative.title),
  url: initiative_url(current_initiative.id)
}) %>

<% provide :meta_image_url, current_initiative.type.banner_image&.url unless current_initiative.type.banner_image.nil? %>

<div class="row column view-header">
  <h2 class="heading2"><%= partially_translated_attribute(current_initiative.title) %></h2>
  <div class="author-data">
    <%= render partial: 'decidim/initiatives/initiatives/author', locals: { initiative: current_initiative } %>
  </div>
</div>

<div class="row">
  <div class="columns large-12">
    <div class="section">
      <%= simple_format partially_translated_attribute(current_initiative.description) %>
    </div>

    <div class="section">
      <p><%=t '.help_text' %></p>
      <%= link_to t('.continue'),
                  spawn_initiative_committee_requests_path(current_initiative),
                  class: 'title-action__action button small hollow' if current_user %>

      <%= action_authorized_link_to :spawn,
                                    t('.continue'),
                                    spawn_initiative_committee_requests_path(current_initiative),
                                    class: 'title-action__action button small hollow' unless current_user %>
    </div>
  </div>
</div>
<%= stylesheet_link_tag 'decidim/initiatives/application' %>